{
    "presets": [
        ["@babel/preset-env", {
            "modules": false,
            "targets": {
                "node": 4
            }
        }],
        "@babel/preset-flow"
    ],
    "env": {
        "test": {
            "presets": [
                ["@babel/preset-env"]
            ]
        }
    },
    "ignore": [
        "**/*.test.js",
        "src/types.js"
    ]
}