{
    "presets": [
        "@babel/preset-flow",
        ["@babel/preset-env", {
            "modules": false,
            "targets": {
                "node": 4
            }
        }]
    ],
    "env": {
        "test": {
            "presets": [
                ["@babel/preset-env"]
            ]
        }
    }
}